AWS_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_SECRET_KEY=

BASE_URL=       # server url
CLIENT_URL=     # client/frontend url

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

EMAIL_PASS=
EMAIL_USER=

GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_EXPIRATION=
JWT_SECRET=

KEY_FILENAME=   # key file for GoogleAuth for dialogflow

MAIL_FROM=

# Momo
MOMO_ACCESS_KEY=
MOMO_API_ENDPOINT=
MOMO_PARTNER_CODE=
MOMO_SECRET_KEY=

MONGO_SESSION_SECRET=
MONGODB_URI=

NODE_ENV=

PROJECT_ID=     # google cloud project ID

SESSION_SECRET=

# VNPay
VNP_HASHSECRET=
VNP_TMNCODE=
VNP_URL=

PORT=           # server port